.sec-carousel-imgs{
    /* border: 2px solid; */
    position: absolute;
    top: 124px;
    /* z-index: 111111; */
}
.sec-div-shop{
    /* border: 2px solid; */
    position: absolute;
    top: 850px;
    color: #1c1c1c;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 10px !important;
    letter-spacing: .2px;
}
.sec-div-img{
    position: absolute;
    top: 930px;
}
.sec-ul-img{
    /* border: 2px solid; */
    width: 1518px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.sec-ul-img1{
    height: 470px;
    cursor: pointer;
}