#form{
    border: 2px solid;
    height: 500px;
    width: 500px;
    /* background-image: url(https://cdn.pixabay.com/photo/2024/02/08/07/34/ai-generated-8560465_960_720.jpg); */
}
.td1{
    color: aqua;
}