#body {
     /* position: relative;  */
    height: 100%;
    /* border: 2px solid blue; */
    width: 100% !important;
    margin: 0% !important;
  }

  #body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    color: #000;
    margin: 0;
    padding: 0;
    height: 650px;
    /* width: 94%; */
    } 

  .swiper {
    width: 90%;
    height: 90%;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 404px;
    height: 584px;
    object-fit: cover;
  }

  .first{
    color: #fff;
    transform: translateY(-100px);
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
  }