form{
    border: 2px solid;
    width: 350px;
    /* text-align: center; */
    margin: auto;
    margin-top: 250px;
    /* padding-left: 50px; */
}
h1{
    text-align: center;
    text-transform: uppercase;
}
label{
    text-transform: capitalize;
    padding-left: 50px;
}
input{
    padding-left: 50px;
}