.what-class{
    /* border: 2px solid; */
    margin-top: 50px;
}
.div-news-h1{
    font-family: 'Jost',sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.div-detail-con{
    /* border: 2px solid; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-top: 100px;
}
.detail_img{
    height: 100px;
    width: 100px;
}
.services-div23{
    /* border: 2px solid; */
    display: flex;
}
.ser-div-para11{
    font-size: 11px;
    letter-spacing: .3em;
    color: #777777;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
}
.ser-div-para11:hover{
    color: orangered;
}
.ser-div-h111{
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}
.ser-div-para12{
    font-family: 'Jost',sans-serif;
    color: #8492a6;
    line-height: 30px;
}
.ser-div-para13{
    font-family: 'Jost',sans-serif;
    color: black;
    font-size: 900;
    cursor: pointer;
}