/* Reset some default styles */
body, ul, li, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background for the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
    text-align: left;
}

/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #0077b6; /* Dark blue heading color */
}

/* Main Content Styles */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dark gray heading color */
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #555; /* Dark gray text color */
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Team Member Styles */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #0077b6; /* Dark blue footer background color */
    color: #ffffff; /* White text color in the footer */
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
nav {
    background-color: #0077b6; /* Choose your desired background color */
    color: #ffffff; /* Choose your desired text color */
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 1px;
}

nav li {
    margin: 0 20px;
    position: absolute;
    top: 10px;
    left: 50px;
}